html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.991rem;
  line-height: 1.6rem;

  @media (min-width: 0px) {
    font-size: 0.8rem;
    line-height: 1.3rem;

    .sub-item {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .banner {
      padding: 6px 8px;

      .nav-title {
        font-size: 1.2rem;
        padding: 8px 4px;
      }

      .banner-right .game-select {
        margin: 5px 10px 5px 0;
      }
    }

    .lap-filter-md {
      margin-right: 0.5rem;
    }

    .admin-page {
      .admin-title-row {
        .admin-title {
          font-size: 1.2rem;
        }

        .admin-select-container {
          margin-left: 15px;

          .admin-select {
            padding: 9px 4px;
            font-size: 0.8rem;
          }
        }

        .add-data-container {
          .add-data-btn {
            margin: 0;
            add-icon {
              width: 20px;
            }
          }
        }

        .admin-total {
          line-height: 50px;
        }
      }

      .data-container {
        .data-box {
          min-width: 150px;
          max-width: 150px;
          margin: 6px 6px;
          font-size: 0.8rem;

          .data-box-edit-input {
            width: 148px;
          }
        }
      }
    }
  }

  @media (min-width: 576px) {
    font-size: 0.8rem;
    line-height: 1.3rem;

    .sub-item {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .banner .banner-right {
      .game-select {
        margin: 7px 10px 5px 0;
      }

      .settings-icon {
        width: 28px;
      }

      .logout-icon {
        width: 28px;
      }
    }

    .skeleton-lap-list .skeleton-lap {
      gap: 10px;
    }

    .skeleton-filters {
      gap: 10px;

      .skeleton-filter-block {
        flex-basis: 30%;
      }

      .long {
        flex-basis: 40%;
      }
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    font-size: 0.9rem;
    line-height: 1.3rem;

    .sub-item {
      display: none;
    }
  }

  @media (max-width: 991px) {
    .ae-page .ae-container .ae-feedback-container {
      display: none;
    }

    .skeleton-filters {
      .skeleton-filter-block {
        flex-basis: 30%;
      }

      .long {
        flex-basis: 40%;
      }
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    font-size: 0.95rem;
    line-height: 1.4rem;

    .sub-item {
      display: revert;
    }
  }

  @media (max-width: 1199px) {
    .ae-page .ae-container .ae-feedback-container {
      min-width: 270px;
      max-width: 270px;
      margin-bottom: 18px;
      padding-left: 20px;

      .feedback-banner h1 {
        font-size: 36px;
        line-height: 30px;
      }

      &.extraFeedbackIncluded {
        .feedback-extra {
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    font-size: 0.991rem;
    line-height: 1.6rem;

    .sub-item {
      display: revert;
    }
  }
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.banner {
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  padding: 8px 12px;

  &.simple {
    padding: 0px 12px;
  }

  .nav-title {
    color: white;
    font-size: 1.9rem;
    font-family: 'Russo One', 'open_sans', sans-serif !important;
    line-height: 3rem;
    padding: 8px;
    text-decoration: none;
  }

  .banner-right {
    display: flex;

    .settings-icon {
      width: 32px;
      height: auto;
      transition: 0.5s;

      &:hover {
        transform: rotate(30deg);
      }
    }

    .game-select {
      line-height: 55px;
      margin: 5px 20px 5px 0;
      padding: 8px 2px 8px 2px;
      color: #007bff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      outline: none;
    }

    .logout-btn {
      padding: 8px 0 !important;
    }

    .logout-icon {
      width: 32px;
      height: auto;
    }
  }
}

.login-container {
  box-sizing: border-box;
  max-width: 1300px;
  height: 100%;

  .row-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 768px) {
      justify-content: center;
      padding: 0;
    }

    .col-2 {
      min-width: 450px;

      @media (max-width: 768px) {
        min-width: 100%;
        max-width: 100%;
        justify-content: center;
      }

      &.col-2-a {
        text-align: center;

        h1 {
          font-family: 'Prompt', sans-serif;
          font-size: 54px;
          line-height: 50px;

          @media (max-width: 415px) {
            font-size: 44px;
            line-height: 35px;
          }

          &.title-line-1 {
            padding-bottom: 20px;
            color: rgba(0, 0, 0, 0.5);
          }

          &.title-line-2 {
            color: #007bffda;
          }
        }
      }

      &.col-2-b {
        img {
          @media (max-width: 768px) {
            min-width: 100%;
            max-width: 100%;
            justify-content: center;
          }
        }
      }

      img {
        max-width: 100%;
        margin: 20px 0;
        border-radius: 15px;

        @media (max-width: 768px) {
          max-width: 420px;
        }
      }
    }
  }
}

.google-login-holder {
  display: flex;
  justify-content: center;
  margin-top: 80px;

  @media (max-width: 415px) {
    margin-top: 50px;
  }

  button {
    width: 225px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    font-size: 20px !important;
    color: #00000090;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px grey;
    padding-left: 10px;
    padding-right: 10px;

    img {
      padding-left: 5px;
      transform: scale(1.5);
      width: 24px;
      height: auto;
    }
  }
}

// Skeletons
.skeleton-lap-list {
  width: 100%;
  margin: 60px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .skeleton-lap {
    width: 100%;
    height: 30px;
    display: flex;
    gap: 50px;

    .skeleton-lap-block {
      width: 100%;
      height: 100%;
      background: lightgray;
      border-radius: 5px;
    }

    .long {
      flex-basis: 200%;
    }
  }
}

.skeleton-filters {
  width: 100%;
  height: 20px;
  display: flex !important;
  gap: 50px;
  margin-top: 30px;

  .skeleton-filter-block {
    height: 20px;
    background: lightgray;
    border-radius: 5px;
    flex-basis: 20%;
  }

  .long {
    flex-basis: 30%;
  }
}

// Common
.lap-record {
  color: #cc00cc;
}

.lap-record-for-car {
  color: #007bff;
}

.personal-lap-record-for-car {
  color: #03d803;
}

// Page specific styles
.lap-list-page {
  .lap-title-row {
    margin-bottom: 10px;
  }

  .lap-title {
    line-height: 30px;
    font-size: 1.5rem;
    margin-left: 5px;
    color: #3195ff;
    font-weight: 600;
  }

  .lap-add-holder {
    float: right;
  }

  .add-lap-btn {
    background-color: #007bffc9;
    border-color: #007bffc9;
    padding: 4px 14px;
    margin: 0 5px 5px 0;
  }

  .lap-filter-labels > span > label {
    margin-bottom: 0px;
  }

  .lap-filter-md {
    margin-right: 0.3rem;
  }

  .lap-filter-lg {
    margin-right: 1.5rem;
  }

  .lap-filter-select {
    margin-left: 6px;
    padding: 0px 3px;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  .laps-shown {
    float: right;
  }

  .table {
    position: relative;

    th {
      padding: 8px 4px;
      position: sticky;
      top: -1px;
      font-size: 17px;
      font-weight: 500;
      color: #ffffff;
      background-color: #4aa5ff;

      &.actions-heading {
        text-align: center;
      }
    }
  }

  .drivers-lap {
    background-color: #e8f0ff81;
  }

  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
    background-color: #e8f0ff;
  }

  .lap-row {
    > td {
      padding: 9px 2px 10px 2px;

      &:first-child {
        &.has-replay {
          border-left: 3px solid #007bff8c;
        }
      }

      > div {
        line-height: 1.1em;
      }
    }
  }

  .text-strong {
    font-weight: bold;
    color: #007bff;
  }

  .lap-car-cell {
    max-width: 21%;
  }

  .lap-replay-cell {
    width: 38px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .lap-replay-icon {
    width: 28px;
    height: auto;
  }

  .lap-record-link {
    text-decoration: underline;
    cursor: pointer;
  }

  .lap-date-cell {
    width: 8%;
  }

  .lap-notes-cell {
    width: 38px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }

  .lap-notes-icon {
    width: 29px;
    height: auto;
  }

  .lap-row-actions {
    width: 130px;
  }

  .btn {
    box-shadow: 0 0 0 0 !important;
  }

  .edit-btn {
    background-color: #007bffc9;
    border-color: #007bffc9;
  }

  .delete-btn {
    background-color: #dc3545bf;
    border-color: #dc3545bf;
  }

  .cancel-delete-lap {
    padding: 0px 0px 0px 3px;
    box-shadow: 0 0 0 0 !important;
    line-height: 1em;
  }
}

.ae-page {
  margin: 0 5px;

  .lap-title {
    line-height: 30px;
    font-size: 1.5rem;
    margin-left: 5px;
    color: #3195ff;
    font-weight: 600;
  }

  .ae-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .ae-form-container {
      width: 650px;

      .add-edit-label-with-button {
        margin-bottom: 0px;
      }

      .add-edit-label {
        margin-bottom: 3px;
      }

      .add-track-car {
        float: right;
        padding: 1px 12px 1px 12px;
        margin-bottom: 2px;
      }

      .laptime-format {
        float: left;
      }

      .driver-input:disabled {
        background-color: #f7fbff;
      }

      .add-edit-date {
        padding-left: 15px !important;
      }

      .add-edit-button {
        text-align: right;
      }

      .react-datepicker-wrapper,
      .react-datepicker__input-container,
      .react-datepicker__input-container input {
        display: block;
        width: 100%;
      }

      .react-datepicker__input-container input {
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }

    .ae-feedback-container {
      min-width: 450px;
      max-width: 450px;
      text-align: center;
      margin-bottom: 12px;
      padding-left: 20px;

      .feedback-banner h1 {
        font-family: 'Prompt', sans-serif;
        font-size: 48px;
        line-height: 50px;

        &.title-line-1 {
          padding-bottom: 20px;
          color: rgba(0, 0, 0, 0.5);
        }

        &.title-line-2 {
          color: #007bffda;
        }
      }

      &.extraFeedbackIncluded {
        margin-bottom: 50px;
        .feedback-banner {
          margin-bottom: 70px;
        }

        .feedback-extra {
          div {
            margin-bottom: 20px;

            span {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}

.admin-page {
  .admin-title-row {
    margin-bottom: 20px;

    .admin-title {
      line-height: 30px;
      font-size: 1.5rem;
      margin-left: 5px;
    }

    .admin-select-container {
      margin-left: 40px;

      .admin-select {
        font-size: 1.2rem;
        background-color: #007bffc9;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        color: white;
        padding: 6px 15px;
        margin: 0;
        outline: none;
      }
    }

    .add-data-container {
      vertical-align: 2px;

      .add-data-btn {
        background-color: transparent;
        border: transparent;
        outline: none;
        margin: 0 10px;

        .add-icon {
          opacity: 0.84;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .admin-total {
      float: right;
      line-height: 3.2rem;
      font-size: 1.1rem;
      margin-right: 10px;
    }
  }

  .data-container {
    display: flex;
    flex-wrap: wrap;

    .data-box {
      min-width: 180px;
      max-width: 180px;
      max-height: 50px;
      border: 2px solid;
      border-radius: 5px;
      border-color: grey;
      text-align: center;
      margin: 10px 20px;
      padding: 10px 0;
      position: relative;
      text-align: center;
      vertical-align: middle;

      &:hover {
        border-color: black;
      }

      &.no-laps {
        border-style: dashed;
      }

      &.add {
        display: block;
        border-style: dotted;

        &.driver {
          min-height: 76px;

          .data-box-edit-input {
            bottom: 48px;

            &.email {
              top: 23px;
              bottom: 73px;
              height: 25px;
              border-radius: 0px;
            }
          }

          .data-box-edit-confirm {
            top: 49px;
          }

          .data-box-edit-cancel {
            top: 49px;
          }
        }

        &.group {
          min-height: 122px;

          .data-box-edit-input {
            bottom: 94px;

            &.code {
              top: 23px;
              height: 25px;
              border-radius: 0px;
            }

            &.description {
              top: 46px;
              height: 25px;
              border-radius: 0px;
            }

            &.ownerId {
              top: 69px;
              height: 25px;
              border-radius: 0px;
            }
          }

          .data-box-edit-confirm {
            top: 95px;
          }

          .data-box-edit-cancel {
            top: 95px;
          }
        }
      }

      @mixin animate-btn-hover {
        opacity: 0.88;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }
      }

      .data-box-edit {
        background: #007bff;
        color: white;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 111px;
        bottom: 2px;
        line-height: 40px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        cursor: pointer;
        @include animate-btn-hover;
      }

      .data-box-delete {
        background: #dc3546;
        color: white;
        position: absolute;
        top: 2px;
        left: 111px;
        right: 2px;
        bottom: 2px;
        line-height: 40px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
        @include animate-btn-hover;
      }

      .data-box-delete-confirm {
        background: #dc3546;
        color: white;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 111px;
        bottom: 2px;
        line-height: 40px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        cursor: pointer;
        @include animate-btn-hover;
      }

      .data-box-delete-cancel {
        background: #83a0c0;
        color: white;
        position: absolute;
        top: 2px;
        left: 111px;
        right: 2px;
        bottom: 2px;
        line-height: 40px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
        @include animate-btn-hover;
      }

      .data-box-edit-input {
        position: absolute;
        top: -1px;
        left: -1px;
        right: 2px;
        bottom: 23px;
        width: 178px;
        border: 1px solid;
        border-color: grey;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .data-box-edit-confirm {
        background: #007bff;
        color: white;
        position: absolute;
        top: 23px;
        left: 2px;
        right: 111px;
        bottom: 2px;
        line-height: 20px;
        border-bottom-left-radius: 3px;
        cursor: pointer;
        @include animate-btn-hover;
      }

      .data-box-edit-cancel {
        background: #83a0c0;
        color: white;
        position: absolute;
        top: 23px;
        left: 111px;
        right: 2px;
        bottom: 2px;
        line-height: 20px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
        @include animate-btn-hover;
      }
    }
  }
}
